version: "3.7"
name: "myproject"
services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /var/volumes/sabnzbd:/config
      - storage:/storage
    labels:
      - "compose2nix.systemd.service.RuntimeMaxSec=360"
      - "compose2nix.systemd.unit.Description=This is the sabnzbd container!"
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:develop
    container_name: radarr
    environment:
      TZ: ${TIMEZONE}
    volumes:
      - /var/volumes/radarr:/config
      - storage:/storage
    restart: unless-stopped

networks:
  something:
    labels:
      - "test-label=okay"

volumes:
  storage:
    name: storage
    driver_opts:
      type: none
      device: /mnt/media
      o: bind
  books:
    name: books
    driver_opts:
      type: none
      device: /mnt/media/Books
      o: bind
