virtualisation.oci-containers.containers."{{.Name}}" = {
  image = "{{.Image}}";

  {{- if .Environment}}
  environment = {
    {{- range $k, $v := .Environment}}
    {{$k}} = "{{$v}}";
    {{- end}}
  };
  {{- end}}

  {{- if .EnvFiles}}
  environmentFiles = [
    {{- range .EnvFiles}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}

  {{- if .Volumes}}
  volumes = [
    {{- range $k, $v := .Volumes}}
    "{{$v}}"
    {{- end}}
  ];
  {{- end}}

  {{- if .Ports}}
  ports = [
    {{- range .Ports}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}

  {{- if .Labels}}
  labels = {
    {{- range $k, $v := .Labels}}
    "{{$k}}" = "{{$v}}";
    {{- end}}
  };
  {{- end}}

  {{- if .DependsOn}}
  dependsOn = [
    {{- range .DependsOn}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}

  {{- if .User}}
  user = "{{.User}}";
  {{- end}}

  {{- if .LogDriver}}
  log-driver = "{{.LogDriver}}";
  {{- end}}

  {{- if not cfg.AutoStart}}
  autoStart = false;
  {{- end}}

  {{- if .ExtraOptions}}
  extraOptions = [
    {{- range .ExtraOptions}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
};
systemd.services."{{.Runtime}}-{{.Name}}" = {
  {{- if .SystemdConfig.Service}}
  serviceConfig = {
    {{- range $k, $v := .SystemdConfig.Service.Options}}
    {{$k}} = lib.mkOverride 500 {{toNixValue $v}};
    {{- end}}
  };
  {{- end}}
  {{- if .SystemdConfig.StartLimitBurst}}
  startLimitBurst = {{derefInt .SystemdConfig.StartLimitBurst}};
  {{- end}}
  {{- if .SystemdConfig.StartLimitIntervalSec}}
  startLimitIntervalSec = {{derefInt .SystemdConfig.StartLimitIntervalSec}};
  {{- end}}
  {{- if .SystemdConfig.Unit}}
  {{- if .SystemdConfig.Unit.Options}}
  unitConfig = {
    {{- range $k, $v := .SystemdConfig.Unit.Options}}
    {{$k}} = lib.mkOverride 500 {{toNixValue $v}};
    {{- end}}
  };
  {{- end}}
  {{- if .SystemdConfig.Unit.After}}
  after = [
    {{- range .SystemdConfig.Unit.After}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  {{- if .SystemdConfig.Unit.Requires}}
  requires = [
    {{- range .SystemdConfig.Unit.Requires}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  {{- if .SystemdConfig.Unit.PartOf}}
  partOf = [
    {{- range .SystemdConfig.Unit.PartOf}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  {{- if .SystemdConfig.Unit.WantedBy}}
  wantedBy = [
    {{- range .SystemdConfig.Unit.WantedBy}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  {{- end}}
};