systemd.services."{{.Runtime}}-network-{{.Name}}" = {
  path = [ pkgs.{{.Runtime}} ];
  serviceConfig = {
    Type = "oneshot";
    RemainAfterExit = true;
    ExecStop = "${pkgs.{{.Runtime}}}/bin/{{.Runtime}} network rm -f {{.Name}}";
  };
  script = ''
    {{ .Command }}
  '';
  {{- if rootTarget}}
  {{- /* PartOf for stop/restart of root, WantedBy for start of root. */}}
  partOf = [ "{{rootTarget}}.target" ];
  wantedBy = [ "{{rootTarget}}.target" ];
  {{- end}}
};