{{- $name := .Project.With .Name -}}
{{- $runtime := .Runtime | printf "%s" -}}
{{- $labels := mapToRepeatedKeyValFlag "--label" .Labels -}}
systemd.services."create-{{$runtime}}-network-{{$name}}" = {
  serviceConfig.Type = "oneshot";
  path = [ pkgs.{{$runtime}} ];
  {{- if eq $runtime "docker"}}
  script = ''
    docker network inspect {{$name}} || docker network create {{$name}}{{ $labels | join " "}}
  '';
  {{- else}}
  script = ''
    podman network create {{$name}} --opt isolate=true --ignore{{ $labels | join " "}}
  '';
  {{- end}}
  {{- if .Containers}}
  wantedBy = [
  {{- range .Containers}}
  {{. | printf "\"%s.service\"" | indent 2}}
  {{- end}}
  ];
  {{- end}}
};