{{- $driverOpts := mapToRepeatedFlag "--opt" .DriverOpts | join " " -}}
{{- $labels := mapToRepeatedKeyValFlag "--label" .Labels -}}
systemd.services."{{.Runtime}}-volume-{{.Name}}" = {
  path = [ pkgs.{{.Runtime}} ];
  serviceConfig = {
    Type = "oneshot";
    RemainAfterExit = true;
    {{- if .RemoveOnStop}}
    ExecStop = "${pkgs.{{.Runtime}}}/bin/{{.Runtime}} volume rm -f {{.Name}}";
    {{- end}}
  };
  {{- if .RequiresMountsFor}}
  unitConfig.RequiresMountsFor = [
    {{- range .RequiresMountsFor}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  script = ''
    {{- if eq .Driver ""}}
    {{.Runtime}} volume inspect {{.Name}} || {{.Runtime}} volume create {{.Name}}{{- if $driverOpts}} {{$driverOpts}}{{- end}}{{- if $labels}} {{ $labels | join " "}}{{- end}}
    {{- else}}
    {{.Runtime}} volume inspect {{.Name}} || {{.Runtime}} volume create {{.Name}} --driver {{.Driver}}{{- if $driverOpts}} {{$driverOpts}}{{- end}}{{- if $labels}} {{ $labels | join " "}}{{- end}}
    {{- end}}
  '';
  {{- if rootTarget}}
  {{- /* PartOf for stop/restart of root, WantedBy for start of root. */}}
  partOf = [ "{{rootTarget}}.target" ];
  wantedBy = [ "{{rootTarget}}.target" ];
  {{- end}}
};