{{- /* NOTE(aksiksi): Volume name is _not_ project scoped to match Compose semantics. */ -}}
{{- $name := .Name -}}
{{- $driverOptsString := mapToKeyValArray .DriverOpts | join "," -}}
systemd.services."create-{{.Runtime}}-volume-{{$name}}" = {
  serviceConfig.Type = "oneshot";
  path = [ pkgs.{{.Runtime}} ];
  script = ''
    {{- if eq .Driver ""}}
    {{.Runtime}} volume inspect {{$name}} || {{.Runtime}} volume create {{$name}} --opt {{$driverOptsString}}
    {{- else}}
    {{.Runtime}} volume inspect {{$name}} || {{.Runtime}} volume create {{$name}} --driver {{.Driver}} --opt {{$driverOptsString}}
    {{- end}}
  '';
  {{- if .Containers}}
  wantedBy = [
    {{- range .Containers}}
    {{. | printf "%q"}}
    {{- end}}
  ];
  before = [
    {{- range .Containers}}
    {{. | printf "%q"}}
    {{- end}}
  ];
  {{- end}}
};