{{- $driverOptsString := mapToKeyValArray .DriverOpts | join "," -}}
systemd.services."{{.Runtime}}-volume-{{.Name}}" = {
  path = [ pkgs.{{.Runtime}} ];
  serviceConfig = {
    Type = "oneshot";
    RemainAfterExit = true;
    {{- if .RemoveOnStop}}
    ExecStop = "${pkgs.{{.Runtime}}}/bin/{{.Runtime}} volume rm -f {{.Name}}";
    {{- end}}
  };
  script = ''
    {{- if eq .Driver ""}}
    {{.Runtime}} volume inspect {{.Name}} || {{.Runtime}} volume create {{.Name}} --opt {{$driverOptsString}}
    {{- else}}
    {{.Runtime}} volume inspect {{.Name}} || {{.Runtime}} volume create {{.Name}} --driver {{.Driver}} --opt {{$driverOptsString}}
    {{- end}}
  '';
  {{- if .Containers}}
  before = [
    {{- range .Containers}}
    "{{.}}"
    {{- end}}
  ];
  requiredBy = [
    {{- range .Containers}}
    "{{.}}"
    {{- end}}
  ];
  {{- end}}
  {{- if rootTarget}}
  partOf = [ "{{rootTarget}}.target" ];
  {{- end}}
};